.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
	background-color: rgba(0, 0, 0, 0.9);
	transition: all .25s ease-in;
	overflow: hidden;
	z-index: 5000;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.myModalContent {
	flex: 0 1 80vh;
}

